In [7]:
import pandas as pd
import openpyxl

In [3]:
#pd.set_option("display.max_rows", None)

listaEmprestimo = []

for x in range(0,10):# criei um loop para executar 10 vezes o X vai assumir o valor de 0 até 9
    for y in range(1,3):# criei outro loop dentro do loop anterior, para executar 2 vezes, já que tenho arquivo 2020.1 e 2020.2  p y vai receber 1 e 2
        tabela1= pd.read_csv(f"dados_emprestimos\emprestimos-201{x}{y}.csv")# com o x recebendo 0 e o Y recebendo 1 e depois 2 os dados ficam salvos na variável
    listaEmprestimo.append(tabela1)# dentro da lista listaEmprestimo os dados são salvos, já que na variável tabela1 serão apagados no segundo loop
tabela = pd.read_csv("dados_emprestimos\emprestimos-20201.csv") # salva na variável tabela o valor do CSV final 20201 * vou melhorar isso depoislistaEmprestimo.append(tabela) # salva esse último dado na listalistaEmprestimo    
dfconca1= pd.concatlistaEmprestimo)#com os dados da lista listaEmprestimo, criei um 

display(dfconca1)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [14]:
dados_exp = pd.read_parquet("dados_exemplares.parquet")#importa dentro da variável dados_exp os dados do arquivo dados_exemplares.parquet
dados_exp

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [24]:
import math
dfcomp= pd.merge(dados_exp, dfconca1, how="outer", indicator=True)#faz um merge
#dfcomp.to_excel("Teste.xlsx")
tamanho =  math.ceil(len(dfcomp) /1048576)
lisSep =[]

for i in range(tamanho):
    inicio = i * 1048576
    fim = (i+1)* 1048576
    separado = dfcomp.iloc[inicio:fim]
    lisSep.append(separado)

lisSep

[         id_exemplar codigo_barras            colecao  \
 0                5.0       L000003  Acervo Circulante
 1                4.0       L000002  Acervo Circulante
 2                3.0       L000001  Acervo Circulante
 3                7.0       L000114  Acervo Circulante
 4               10.0       L000041  Acervo Circulante
 ...              ...           ...                ...
 1048571     286463.0    2009055336  Acervo Circulante
 1048572     286463.0    2009055336  Acervo Circulante
 1048573     286463.0    2009055336  Acervo Circulante
 1048574     286463.0    2009055336  Acervo Circulante
 1048575     286463.0    2009055336  Acervo Circulante

                                                 biblioteca status_material  \
 0                           Biblioteca Central Zila Mamede         REGULAR
 1                           Biblioteca Central Zila Mamede         REGULAR
 2                           Biblioteca Central Zila Mamede        ESPECIAL
 3                           Biblioteca Central Zila Mamede         REGULAR
 4                           Biblioteca Central Zila Mamede        ESPECIAL
 ...                                                    ...             ...
 1048571  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048572  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048573  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048574  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048575  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR

          localizacao  registro_sistema  id_emprestimo  \
 0              694.0               1.0            NaN
 1              688.0               1.0            NaN
 2              638.0               1.0            NaN
 3              616.0               5.0            NaN
 4              657.0              15.0            NaN
 ...              ...               ...            ...
 1048571        668.0          122469.0      1078641.0
 1048572        668.0          122469.0      1112561.0
 1048573        668.0          122469.0      1307343.0
 1048574        668.0          122469.0      1358833.0
 1048575        668.0          122469.0      1382591.0

                         data_renovacao                data_emprestimo  \
 0                                  NaN                            NaN
 1                                  NaN                            NaN
 2                                  NaN                            NaN
 3                                  NaN                            NaN
 4                                  NaN                            NaN
 ...                                ...                            ...
 1048571                            NaN  2011/09/15 11:58:54.882000000
 1048572  2011/11/10 09:52:54.201000000  2011/10/27 12:53:49.336000000
 1048573  2012/09/10 21:58:10.902000000  2012/08/27 08:08:09.347000000
 1048574  2012/11/09 12:14:45.249000000  2012/10/25 12:34:15.808000000
 1048575  2012/12/03 13:54:32.548000000  2012/11/26 10:06:03.323000000

                         data_devolucao  matricula_ou_siape  \
 0                                  NaN                 NaN
 1                                  NaN                 NaN
 2                                  NaN                 NaN
 3                                  NaN                 NaN
 4                                  NaN                 NaN
 ...                                ...                 ...
 1048571  2011/09/26 10:11:03.000000000        2.009053e+09
 1048572  2011/11/25 10:20:42.000000000        2.010064e+09
 1048573  2012/10/23 08:35:11.000000000        2.011020e+09
 1048574  2012/11/22 15:26:28.000000000        2.012009e+09
 1048575  2012/12/05 13:44:51.000000000        2.011020e+09

         tipo_vinculo_usuario     _merge
 0                        NaN  left_only
 1                        NaN  left_only
 2                        NaN  left_only
 3                        NaN  left_only
 4                        NaN  left_only
 ...                      ...        ...
 1048571   ALUNO DE GRADUAÇÃO       both
 1048572   ALUNO DE GRADUAÇÃO       both
 1048573   ALUNO DE GRADUAÇÃO       both
 1048574   ALUNO DE GRADUAÇÃO       both
 1048575   ALUNO DE GRADUAÇÃO       both

 [1048576 rows x 14 columns],
          id_exemplar codigo_barras            colecao  \
 1048576     286463.0    2009055336  Acervo Circulante
 1048577     286463.0    2009055336  Acervo Circulante
 1048578     286463.0    2009055336  Acervo Circulante
 1048579     286463.0    2009055336  Acervo Circulante
 1048580     286463.0    2009055336  Acervo Circulante
 ...              ...           ...                ...
 2097147    1122541.0    2014029292         Multimeios
 2097148    1122680.0    2014015565  Acervo Circulante
 2097149    1122678.0    2014015563  Acervo Circulante
 2097150    1122677.0    2014015562  Acervo Circulante
 2097151    1122676.0    2014015561  Acervo Circulante

                                                 biblioteca status_material  \
 1048576  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048577  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048578  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048579  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 1048580  Biblioteca Setorial do Centro Ciências da Saúd...         REGULAR
 ...                                                    ...             ...
 2097147  Biblioteca Setorial Pe. Jaime Diniz - Escola d...        ESPECIAL
 2097148  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097149  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097150  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097151  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR

          localizacao  registro_sistema  id_emprestimo  \
 1048576        668.0          122469.0      1465585.0
 1048577        668.0          122469.0      1516152.0
 1048578        668.0          122469.0      1545920.0
 1048579        668.0          122469.0      1578175.0
 1048580        668.0          122469.0      1585236.0
 ...              ...               ...            ...
 2097147        150.0          208783.0            NaN
 2097148        159.0          208784.0            NaN
 2097149          2.0          208784.0            NaN
 2097150        179.0          208784.0            NaN
 2097151        292.0          208784.0            NaN

                         data_renovacao                data_emprestimo  \
 1048576  2013/04/16 14:07:30.102000000  2013/04/01 18:26:59.074000000
 1048577                            NaN  2013/05/28 08:23:42.097000000
 1048578                            NaN  2013/07/29 15:35:12.848000000
 1048579                            NaN  2013/08/30 13:09:08.445000000
 1048580  2013/09/23 10:24:22.447000000  2013/09/06 10:06:16.997000000
 ...                                ...                            ...
 2097147                            NaN                            NaN
 2097148                            NaN                            NaN
 2097149                            NaN                            NaN
 2097150                            NaN                            NaN
 2097151                            NaN                            NaN

                         data_devolucao  matricula_ou_siape  \
 1048576  2013/05/06 16:35:42.000000000        2.010065e+09
 1048577  2013/05/28 10:49:54.000000000        2.010065e+09
 1048578  2013/08/30 09:23:34.000000000        2.012946e+09
 1048579  2013/09/04 16:15:08.000000000        2.011020e+09
 1048580  2013/10/07 13:48:37.000000000        2.012947e+09
 ...                                ...                 ...
 2097147                            NaN                 NaN
 2097148                            NaN                 NaN
 2097149                            NaN                 NaN
 2097150                            NaN                 NaN
 2097151                            NaN                 NaN

         tipo_vinculo_usuario     _merge
 1048576   ALUNO DE GRADUAÇÃO       both
 1048577   ALUNO DE GRADUAÇÃO       both
 1048578   ALUNO DE GRADUAÇÃO       both
 1048579   ALUNO DE GRADUAÇÃO       both
 1048580   ALUNO DE GRADUAÇÃO       both
 ...                      ...        ...
 2097147                  NaN  left_only
 2097148                  NaN  left_only
 2097149                  NaN  left_only
 2097150                  NaN  left_only
 2097151                  NaN  left_only

 [1048576 rows x 14 columns],
          id_exemplar codigo_barras            colecao  \
 2097152    1122675.0    2014015560  Acervo Circulante
 2097153    1122674.0    2014015559  Acervo Circulante
 2097154    1122673.0    2014015558  Acervo Circulante
 2097155    1122682.0    2014015567  Acervo Circulante
 2097156    1122681.0    2014015566  Acervo Circulante
 ...              ...           ...                ...
 2569318          NaN       C013767                NaN
 2569319          NaN       C017389                NaN
 2569320          NaN       L143612                NaN
 2569321          NaN    2018007270                NaN
 2569322          NaN       Y021773                NaN

                                                 biblioteca status_material  \
 2097152  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097153  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097154  Biblioteca Setorial Profª. Maria José Mamede G...        ESPECIAL
 2097155  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 2097156  Biblioteca Setorial Profª. Maria José Mamede G...         REGULAR
 ...                                                    ...             ...
 2569318                                                NaN             NaN
 2569319                                                NaN             NaN
 2569320                                                NaN             NaN
 2569321                                                NaN             NaN
 2569322                                                NaN             NaN

          localizacao  registro_sistema  id_emprestimo  \
 2097152        217.0          208784.0            NaN
 2097153         94.0          208784.0            NaN
 2097154         64.0          208784.0            NaN
 2097155        220.0          208784.0            NaN
 2097156         20.0          208784.0            NaN
 ...              ...               ...            ...
 2569318          NaN               NaN      2988735.0
 2569319          NaN               NaN      2988736.0
 2569320          NaN               NaN      2988914.0
 2569321          NaN               NaN      2988934.0
 2569322          NaN               NaN      2988936.0

                         data_renovacao                data_emprestimo  \
 2097152                            NaN                            NaN
 2097153                            NaN                            NaN
 2097154                            NaN                            NaN
 2097155                            NaN                            NaN
 2097156                            NaN                            NaN
 ...                                ...                            ...
 2569318  2020/04/17 22:49:25.096000000  2020/03/17 15:22:53.522000000
 2569319  2020/04/17 22:49:25.075000000  2020/03/17 15:22:53.567000000
 2569320  2020/04/25 15:41:15.389000000  2020/03/17 17:38:27.039000000
 2569321                            NaN  2020/03/17 17:53:05.410000000
 2569322  2020/04/11 03:03:39.744000000  2020/03/17 17:55:21.294000000

                         data_devolucao  matricula_ou_siape  \
 2097152                            NaN                 NaN
 2097153                            NaN                 NaN
 2097154                            NaN                 NaN
 2097155                            NaN                 NaN
 2097156                            NaN                 NaN
 ...                                ...                 ...
 2569318  2021/04/19 13:54:23.000000000        2.019201e+10
 2569319  2021/04/19 13:53:43.000000000        2.019201e+10
 2569320                            NaN        2.019102e+10
 2569321  2021/11/16 15:15:34.000000000        2.019001e+10
 2569322  2021/03/12 09:40:33.000000000        2.019002e+10

            tipo_vinculo_usuario      _merge
 2097152                     NaN   left_only
 2097153                     NaN   left_only
 2097154                     NaN   left_only
 2097155                     NaN   left_only
 2097156                     NaN   left_only
 ...                         ...         ...
 2569318  ALUNO DE PÓS-GRADUAÇÃO  right_only
 2569319  ALUNO DE PÓS-GRADUAÇÃO  right_only
 2569320  ALUNO DE PÓS-GRADUAÇÃO  right_only
 2569321      ALUNO DE GRADUAÇÃO  right_only
 2569322      ALUNO DE GRADUAÇÃO  right_only

 [472171 rows x 14 columns]]

In [6]:
dfcomp= dfcomp.drop("registro_sistema", axis=1 )
dfcomp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072558 entries, 0 to 2072557
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
dtypes: float64(1), int64(3), object(8)
memory usage: 189.7+ MB

In [10]:
dfcomp['matricula_ou_siape'] = dfcomp['matricula_ou_siape'].map(str) #usando a função map() para converter a coluna em String
dfcomp

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
1,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
2,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
3,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
4,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,20150109837.0,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676
2072554,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,20190035012.0,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228
2072555,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784
2072556,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,20150129867.0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663
2072557,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,20200005327.0,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355

In [12]:



def CDU_nova (valor):

    if (valor < 100):
        return "Generalidades. Ciência e conhecimento"
    elif (valor < 200):
        return "Filosofia e psicologia"
    elif (valor < 300):
        return "Religião"
    elif (valor < 400):
        return "Ciências sociais"
    elif (valor < 500):
        return "Classe vaga. Provisoriamente não ocupada"
    elif (valor < 600):
        return "Matemática e ciências naturais"
    elif (valor < 700):
        return "Ciências aplicadas"
    elif (valor < 800):
        return "Belas artes"
    elif (valor < 900):
        return "Belas artes "
    elif (valor < 1000):
        return "Geografia. Biografia. História"

dfcomp["CDU"] = dfcomp['localizacao'].apply(CDU_nova)

dfcomp

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
3,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,20150109837.0,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,Ciências aplicadas
2072554,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,20190035012.0,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,Religião
2072555,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes
2072556,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,20150129867.0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,Ciências aplicadas
2072557,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,20200005327.0,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,Ciências sociais

In [17]:
dfcomp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072558 entries, 0 to 2072557
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    object
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  CDU                   object
dtypes: int64(3), object(10)
memory usage: 205.6+ MB